.label {
  font-weight: 700;
  padding-bottom: 8px;
  font-size: var(--mantine-font-size-sm);
}

.input {
  font-size: var(--mantine-font-size-xs);
  height: var(--input-height-md);

  &[aria-expanded='true'] + [data-position='right'] {
    color: var(--mantine-primary-color-6);
    transform: rotate(180deg);
  }
}

.section {
  transform: rotate(0);
  transition: transform 0.2s;
  width: 33px;
}

.yearsListControl {
  &:hover {
    background-color: var(--mantine-primary-color-1);
  }

  &[data-selected='true'] {
    color: var(--mantine-color-white);
    background-color: var(--mantine-primary-color-6);
  }
}
