.filter {
  gap: var(--mantine-spacing-sm);

  @media screen and (max-width: 420px) {
    gap: 0;
    flex-wrap: wrap;
  }
}

.filterGroup {
  gap: var(--mantine-spacing-sm);

  @media screen and (max-width: 420px) {
    gap: 0;
  }
}

.reset {
  min-width: 100px;

  @media screen and (max-width: $mantine-breakpoint-md) {
    position: absolute;
    right: 0;
    top: -28px;
  }
}
