.root {
  transition: all 0.2s;

  &[data-variant='transparent'] {
    &:hover {
      color: var(--mantine-primary-color-5);
    }

    &:active {
      color: var(--mantine-primary-color-7);
    }

    &:disabled {
      color: var(--mantine-color-grey-6);
      background-color: transparent;
    }
  }

  &:not([data-variant]) {
    &:hover {
      background-color: var(--mantine-primary-color-5);
    }

    &:active {
      background-color: var(--mantine-primary-color-7);
    }
  }

  @media screen and (max-width: $mantine-breakpoint-xs) {
    font-size: var(--mantine-font-size-xs);
    padding: 0 var(--button-padding-x-xs);
    height: var(--button-height-xs);
  }
}
