.box {
  gap: var(--mantine-spacing-sm);

  @media screen and (max-width: $mantine-breakpoint-xs) {
    gap: var(--mantine-spacing-xs);
  }
}

.rating {
  width: 26px;
  height: 26px;

  @media screen and (max-width: $mantine-breakpoint-sm) {
    width: 23px;
    height: 23px;
  }
}
